[Unit]
Description=SoaPublisher
Requires=network.target

[Environment]


[Service]
Type=simple
User=rails
Group=rails
WorkingDirectory=/home/rails/soa_demo/
ExecStart=/bin/bash -lc 'ruby /home/rails/soa_demo/soa_publisher_node.rb'
TimeoutSec=30s
RestartSec=30s
Restart=always

[Install]
WantedBy=multi-user.target
